@model IEnumerable<BookingSystemModel.Flight>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function ()
            {
                alert("@ViewBag.Message");
            }
    </script>
}
<button class="btn btn-success" onclick="ShowInPopup('@Url.Action("Create","Flight",null,Context.Request.Scheme)','New Booking')">
<i class="fas fa-plus-circle"></i>&nbsp;New Booking</button>
<!--<a class="btn btn-success" asp-action="Create"><i class="fas fa-plus-circle"></i>&nbsp;New Booking</a>-->
<br />
<br />
<table class="table table-bordered table-striped">
    <tr class="text-center">
        <th>Airline</th>
        <th>Time</th>
        <th>Actions</th>
    </tr>
    @if (Model.Count() > 0)
    {
        @foreach (var obj in Model)
        {
            <tr class="text-center">
                <td>@obj.Airline</td>
                <td>@obj.Time</td>
                <td class="text-white">
                    <a asp-action="Edit" asp-route-Id="@obj.Id" class="btn-success btn w-25">Edit</a>
                    <a asp-action="Delete" asp-route-Id="@obj.Id" class="btn-danger btn w-25">Delete</a>
                </td>
            </tr>
        }
    }
</table>
